html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevents scrolling */
  width: 100%;
 
}
#root{
  --dark-background: #535353;
  --dark-container-background:#383737;
  --light-background: #f0f0f0;
  display: flex;
  height: 100%;
  flex-direction: row;
}
#list-nav{
  background: var(--dark-background);
flex:1;
}
#main-list-view{
  flex:4;
  background: var(--dark-container-background);
}