#main-view-bottom {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

#main-view-top {
    display: flex;
    flex: 4 1;
    flex-direction: column;
    overflow: scroll;
    align-items: center;
    padding-top: 2rem;

    scrollbar-width: none;
}

#main-list-view {
    display: flex;
    flex-direction: column;

}

#list-header {
    padding-left: 5rem;

    padding-bottom: 2rem;
    font-size: 2rem;
}

.add-task-input {
    display: flex;
    font-weight: 500;
    font-size: .8vw;
    color: var(--font-color);;
    background-color: var(--input-background-color);
    box-shadow: var(--input-box-shadow);
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 0.4vw;
    transition: .4s;
    height: 3rem;
    width: 90%;
    align-items: center;
    align-content: center;
}

.add-task-input input:focus-visible {
    outline: none;
}

#invisible-button {
    background: transparent;
    border: transparent;
    cursor: pointer;
}

.add-task-input input {
    background: transparent;
    border: none;
    caret-color: var(--font-color);;
    color: var(--font-color);;
    font-size: large;
    margin-left: 0.3rem;
    width: 100%;
    height: 100%;
}

.add-task-input img {
    width: 50px;
    border-radius: 50px;
    transition: 0.4s;
}

.add-task-input img:hover {
    box-shadow: inset 0px 0px 4px 1px #918f8f;
}

.add-task-input:hover,
.add-task-input:focus {
    box-shadow: 0 0 0px 1px rgb(255 255 255 / 50%), 0 0 0 .15vw transparent;
}

.todo-item:hover {
    background: var(--secondary-container-hover);
}

.todo-item {
    transition: 0.4s;
    width: 90%;
    min-height: 5rem;
    background: var(--secondary-container-background);
    margin-top: 18px;
    border-radius: 10px;
    padding-left: 1.2rem;
    box-shadow:var(--secondary-container-box-shadow);
    display: flex;
    align-items: center;
    align-content: center;
}

.filler-item {
    margin-top: 18px;
    border-top: 2px var(--separator-color) solid;
    min-height: 4.2rem;
    width: 90%;
}

.todo-item-text {
    margin-left: 1rem;
    flex: 16;
}



.todo-item-delete {
    flex: 1;
    background: transparent;
    border: transparent;
   
}
.todo-item-delete img{
    transition: 0.4s;
    border-radius: 10px;

}
.todo-item-delete img:hover {
    box-shadow: inset 0px 0px 20px 14px #ffffff1a;
    margin: 0;
    padding: 0;
}


/* https://uiverse.io/guilhermeyohan/white-cheetah-13 */

.checkbox-wrapper-31:hover .check {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-31 {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.checkbox-wrapper-31 .background {
    fill:var(--checkbox-fill);
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .stroke {
    fill: none;
    stroke:  var(--font-color);
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .check {
    fill: none;
    stroke: var(--font-color);
    stroke-linecap: round;
    stroke-linejoin: round;

    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;

    -webkit-appearance: none;
}

.checkbox-wrapper-31 input[type=checkbox]:hover {
    cursor: pointer;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .background {
    fill: #5dac38e5;

}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .stroke {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .check {
    stroke-dashoffset: 0;
}

/* https://uiverse.io/guilhermeyohan/white-cheetah-13 */
.sc-FEMpB{
    display: flex;
    align-items: center;
}