/* navbar */

#list-nav {
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

#nav-top {
  overflow: auto;
  padding-top: 14%;
  flex: 9;
}

#nav-bottom {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.add-button {
  border: none;
  width: 3rem;
  transition: .4s;
  border-radius: 50px;
  height: 3rem;
  font-size: 28px;
  color: white;
  background-color: rgb(26 26 26);
  box-shadow: 0 0 10px 1px rgb(85 85 85 / 50%), 0 0 0 .15vw transparent;
}
.add-button:hover{
  box-shadow: 0 0 11px .15vw rgb(249 249 249 / 19%);
}
.add-button:active{
  box-shadow: 0 0 0 .15vw rgb(87, 87, 87);
}

/* Ui verse https://uiverse.io/Jaareet/serious-lionfish-75 */
.custom-input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: .8vw;
  color: #fff;
  background-color: rgb(26 26 26);
  box-shadow: 0 0 10px 1px rgb(85 85 85 / 50%), 0 0 0 .15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 0.4vw;
  max-width: 190px;
  transition: .4s;
  height: 2rem;
  width: 12rem;
}

.custom-input:hover {
  box-shadow: 0 0 11px .15vw rgb(249 249 249 / 19%);
}

.custom-input:focus {
  box-shadow: 0 0 0 .15vw rgb(249 249 249 / 19%);
}

/* Ui verse  https://uiverse.io/Jaareet/serious-lionfish-75*/


/* navbar */