.clear {
    clear: both;
}

.checkBox {
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-right: 8px;
    box-shadow: 0px 0px 0px 2px var(--font-color);
}

.content {

    height: 100%;
    display: flex;
    min-width: 9rem;
    justify-content: center;
    align-items: center;
}

.checkBox div {
    width: 60px;
    height: 60px;
    background-color: var(--font-color);
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}
#main-view-top-filters{
    display: flex;
    width: 1;
    width: 100%;
    justify-content: space-between;
}
.project-filters-box{
    display: flex;
    padding-right: 5rem;
    padding-bottom: 2rem;
   
}

.checkBox input[type=radio]:checked+div {
    left: -10px;
    top: -10px;
}

.checkBox input[type=radio] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}

.transition {
    transition: 300ms ease;
}